<footer class="site-footer" role="contentinfo">
    <nav>
        {{ range $.Site.Data.menu.footer }}
        {{ partial "menu.html" . }}
        {{ end }}
    </nav>
    <div class="declarations">
        {{- partial "custom_footer.html" . -}}
    </div>
    <p class="design_firm_info">Website Design and development by <a rel="noopener"
            href="https://github.com/vijayabharathib" aria-label="Visit Vijayabharathi B's GitHub profile">Vijayabharathi B</a>. Copyright <a
            href="{{- $.Site.BaseURL -}}" aria-label="Visit {{ $.Site.Title }}'s website">{{- $.Site.Title -}}</a> © 2026</p>
</footer>