<div class="footer-container">
    <div class="org footer-card h-card">
        <span class="p-name">T.Ram Financial Services (P)Ltd</span>
        <span class="p-job-title">Portfolio Manager</span>
        <span>SEBI PMS Registration Number</span>
        <span class="u-uid">INP000006068</span>
        <span>Mutual Fund Distribution</span>
        <span>AMFI Registration: ARN98218</span>
    </div>
    <div class="people footer-card">
        <div class="h-card">
            <div class="p-name">Subash Ramasubramaniam</div>
            <div class="p-job-title">Principal officer & Managing Director</div>
            <a class="email" href="mailto:subashr@tramfsl.com ">subashr@tramfsl.com </a>
        </div>
        <div class="h-card">
            <span class="p-name">P. Vedalakshmi</span>
            <span class="p-job-title">Compliance Officer</span>
        </div>
    </div>
    <div class="footer-card p-adr h-adr">
        <span>Registered Office:</span>
        <span class="street-address">15, 6th Street</span>
        <span class="locality">Nandanam Extension</span>
        <span class="region">Chennai</span>
        <span class="postal-code">600 035</span>
        <span class="country-name">India</span>
        <a href="https://maps.google.com/maps?ll=13.028893,80.242631&z=15&t=m&hl=en&gl=IN&mapclient=embed&cid=10667672452745151138">Directions to office</a>
        <span class="tel">Contact Number:+91-96770 76935</span>
    </div>
  </div>
