

<div class="h-card">
    <p class="p-name">T.Ram Financial Services Pvt. Ltd.</p>
    <p class="p-job-title">Portfolio Manager</p>
    <p class="u-uid">SEBI PMS Registration Number: INP000006068.</p>
    <p>Mutual Fund Distribution</p>
    <p>AMFI Registration: ARN98218</p>
    <div class="h-card">
        <div class="p-job-title">Principal officer & Managing Director:</div>
        <div class="p-name">Subash Ramasubramaniam</div>
    </div>
    <div class="h-card">
        <p class="p-job-title">Compliance Officer:</p>
        <p class="p-name">P. Vedalakshmi</p>
    </div>
    <p class="p-adr h-adr">
        Registered Office:
        <div class="street-address">15, 6th Street</div>
        <span class="locality">Nandanam Extension</span>
        <span class="region">Chennai</span>
        <span class="postal-code">600 035</span>
        <div class="country-name">India</div>
        <a class="email" href="mailto:subashr@tramfsl.com ">subashr@tramfsl.com </a>
        <div class="tel">+91-4424335067</div>
    </p>
  </div>