<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png?v=rMJqElKzMj">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png?v=rMJqElKzMj">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png?v=rMJqElKzMj">
<link rel="manifest" href="/img/site.webmanifest?v=rMJqElKzMj">
<link rel="mask-icon" href="/img/safari-pinned-tab.svg?v=rMJqElKzMj" color="#5bbad5">
<link rel="shortcut icon" href="/img/favicon.ico?v=rMJqElKzMj">
<meta name="apple-mobile-web-app-title" content="TRAMFSL">
<meta name="application-name" content="TRAMFSL">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/img/browserconfig.xml?v=rMJqElKzMj">
<meta name="theme-color" content="#ffffff">